// break-points
$bp-large: 1200px;
$bp-big: 1000px;
$bp-medium: 800px;
$bp-small: 600px;

:root {
  // colors
  --c-background: #f8f8f8;
  --c-link-active: #0076d6;
  --c-link-hover: #0191d480;
  --c-title: #0076d6;
  --c-muted: #0000005e;
  // heights

  // widths

  // font-sizes
  --fs-header: 1.8rem;
  --fs-primary: 1.4rem;
  --fs-secondary: 1.2rem;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

html {
  // applied by default
  font-size: 62.5%;

  @media (min-width: $bp-large) {
    font-size: 75%;
  }

  @media (max-width: $bp-medium) {
    font-size: 56.25%;
  }

  @media (max-width: $bp-small) {
    font-size: 37.5%;
  }
}
