.sidebar {
  font-size: var(--fs-primary);

  &__list {
    list-style: none;
  }

  &__link,
  &__link:visited {
    display: block;
    padding: 1rem 2rem;

    color: inherit;
    transition: color 0.3s;

    &:hover {
      color: var(--c-link-hover);
    }

    &.active {
      color: var(--c-link-active);
    }
  }
}

.content {
  display: flex;
  flex-direction: row;

  &__title {
    font-size: var(--fs-header);
    padding: 0.8rem 0;
    color: var(--c-title);
  }

  .todo__list {
    flex: 1 auto;
  }

  .new_todo {
    flex: 1 auto;
  }
}

.todo {
  &__list {
    list-style: none;
  }

  &__item {
    padding: 0.5rem 0;
    font-size: var(--fs-primary);
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__goal {
    // align-self: flex-start;
  }

  &__completed {
    // align-self: flex-start;
  }
}

.new_todo {
  display: flex;
  justify-content: center;
}

.card {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}
