.header {
  display: flex;
  flex-direction: row;
}

.spacebtw {
  justify-content: space-between;
}

.sidebar {
  font-size: var(--fs-primary);

  &__list {
    list-style: none;
  }

  &__link,
  &__link:visited {
    display: block;
    padding: 1rem 2rem;

    color: inherit;
    transition: color 0.3s;

    &:hover {
      color: var(--c-link-hover);
    }

    &.active {
      color: var(--c-link-active);
    }
  }
}

.content {
  display: flex;
  flex-direction: column;

  &__title {
    font-size: var(--fs-header);
    padding: 0.8rem 0;
    color: var(--c-title);
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }
}

.todo {
  &__list {
    list-style: none;
  }

  &__item {
    padding: 0.5rem 0;
    font-size: var(--fs-primary);
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }
}

.todo-form {
  display: flex;
  flex-direction: column;

  &__submit-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: row-reverse;
  }
}

.muted {
  font-size: var(--fs-secondary);
  color: var(--c-muted);
}
